.container {
  background-color: #fff;
  padding: 50px 24px;
}

.infoGroup {
  border-top: 1.5px solid rgba(27, 27, 27, 0.1);
  margin-top: 24px;
  margin-bottom: 40px;
}

.infoArea {
  margin-top: 24px;
}

.infoTitle {
  color: #1b1b1b;
  margin-bottom: 8px;
}

.paymentTypes {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.paymentBtn {
  flex: 1;
}

.productsQt {
  font-size: 16px;
  color: #1b1b1b;
  padding: 20px 0px;
  margin-top: 14px;
  border-top: 1.5px solid rgba(27, 27, 27, 0.1);
  border-bottom: 1.5px solid rgba(27, 27, 27, 0.1);
}

.resumeArea {
  background-color: #f9f9fb;
  border-radius: 8px;
  padding: 48px 32px;
  margin-top: 16px;
}

.resumeItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.resumeItemLeft {
  color: #1b1b1b;
}

.resumeItemRight {
  color: #1b1b1b;
  font-weight: 500;
}

.resumeItemRightBig {
  font-weight: 600;
  font-size: 24px;
}

.resumeLine {
  border-top: 1px dashed #96a3ab;
  margin-block: 28px;
}

.resumeButton {
  margin-top: 40px;
}

.cupomInput {
  display: flex;
  gap: 8px;
}
